<div id="page-wrap">
                <h1> Jtopo 表单输入  </h1>
                <p>-----------------------------------------</p>

                <h2>Jtopo画布设置</h2>
                <div>
                    <label > 画布的长度 </label>
                    <input type="text" class="wheelable" value="950" name="max_width" size="3" />
                </div>

                <div>
                    <label > 画布的高度 </label>
                    <input type="text"  class="wheelable" value="750" name="max_height" size="3" />
                </div>

                <div>
                    <label > 画布的上空高度 </label>
                    <input type="text"  class="wheelable" value="40" name="top_blank" size="3" />
                </div>

                <div>
                    <label > 画布的下空高度 </label>
                    <input type="text"  class="wheelable" value="110" name="buttom_blank" size="3" />
                </div>


                <div>
                    <label > 画布的左空宽度 </label>
                    <input type="text"  class="wheelable" value="130" name="left_blank" size="3" />
                </div>

                <div>
                    <label > 画布的右空宽度 </label>
                    <input type="text"  class="wheelable" value="150" name="right_blank" size="3" />
                </div>


                <button  type="button" class="btn btn-primary" onclick="commit()" id="commit">提交</button>
                <p style="height: 20px">-</p>

            </div>